.card {
  font-family: 'Georgia', sans-serif;
  background: $white;
  padding: rem-calc(35);
  position: relative;
  border-radius: 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  text-align: center;

  @include breakpoint(large up) {
    text-align: left;
  }

  &.collapse {
    padding: rem-calc(0);
  }

  &.service {
    display: block;

    h3 { color: $black;}

    &:hover {
      box-shadow: 0px 0px 40px #DDD;

      .services-image {
        transform: scale(1.03);
      }
    }
  }

  .card-link {
    color: $dark-grey;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    letter-spacing: .5px;
    margin-top: rem-calc(32);
    font-size: rem-calc(15);

    &:hover {
      color: $dark-blue;
    }
  }

  p {
    color: $dark-grey;
  }

  ul {
    margin-left: 0;
  }

  li {
    font-family: Georgia, sans-serif;
    line-height: 225%;
    list-style-type: none;
    color: $dark-grey;
  }

  .button {
    margin-bottom: 0;
    margin-top: rem-calc(16);
  }

  h3 {
    margin-bottom: rem-calc(16);
  }

  &.grey {
    background: #F7F7FA;
    border: 1px solid #f0f0f9;
    text-align: center;

    @include breakpoint(large up) {
      padding-left: rem-calc(56);
      text-align: left;
    }
  }

  .card-icon {
    margin-bottom: rem-calc(24);
    max-width: rem-calc(100);
    max-height: auto;
  }

  &.language-list {
    background: #F7F7FB;
    border: 1px solid #efeff9;
    padding: rem-calc(60 70);
  }

  .horizontal-card {
    padding: rem-calc(25);
    text-align: center;

    @include breakpoint(medium) {
      text-align: left;
    }
  }

  &.koy-quote {
    background: #F7F7FB;
    border: 1px solid #efeff9;
  }

  &.vertical {
    padding-top: rem-calc(230);

    .services-image {
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      position: absolute;
      top: 0;
      left: 0;
      min-height: rem-calc(200);
      width: 100%;
      background-size: cover !important;
      background-position: center center;

      &.interpreting {
        background: url('../img/services-interpreting-2.png') no-repeat;
        background-position: center center;
      }

      &.translation {
        background: url('../img/services-translation-2.png') no-repeat;
        background-position: center center;
      }

      &.telephonic {
        background: url('../img/services-telephonic-2.png') no-repeat;
        background-position: center center;
      }

      &.medical {
        background: url('../img/interpreting-medical.jpg') no-repeat;
      }

      &.legal {
        background: url('../img/interpreting-legal.jpg') no-repeat;
      }

      &.socialservices {
        background: url('../img/interpreting-socialservices.jpg') no-repeat;
      }

      &.education {
        background: url('../img/interpreting-education.jpg') no-repeat;
      }
    }

    .location-image {
      position: absolute;
      top: 0;
      left: 0;
      background: url('../img/location-map.png') no-repeat;
      background-size: cover;
      background-position: center;
      min-height: rem-calc(250);
      width: 100%;
    }
  }
}

.card-primary-image {
  &.linguist-resume {
    background: url('../img/interpreter-translator-resume.png') no-repeat;
    background-size: cover;
    background-position: right center;
    min-height: rem-calc(200);
    width: 100%
  }

  &.linguist-school {
    background: url('../img/linguists-education.jpg') no-repeat;
    background-size: cover;
    background-position: left center;
    min-height: rem-calc(200);
    width: 100%
  }

  &.values-1 {
    background: url('../img/about-1.png') no-repeat;
    background-size: cover;
    background-position: left center;
    min-height: rem-calc(200);
    width: 100%
  }

  &.values-2 {
    background: url('../img/values-2.png') no-repeat;
    background-size: cover;
    background-position: left top;
    min-height: rem-calc(200);
    width: 100%
  }

  &.values-3 {
    background: url('../img/laurie-desk-1.png') no-repeat;
    background-size: cover;
    background-position: left center;
    min-height: rem-calc(200);
    width: 100%
  }

  &.translation-quote {
    background: url('../img/translation-prices.jpg') no-repeat;
    background-size: cover;
    background-position: right center;
    min-height: rem-calc(200);
    width: 100%
  }
}
