footer {
  text-align: center;
  border: 1px solid #E4E4E4;

  @include breakpoint(medium up) {
    .border-right {
      border-right: 1px solid #E1E1E1;
    }
  }

  li {
    list-style-type: none;

    a {
      color: #6B7C93;
      font-weight: 600;
    }
  }

  .main-footer {
    padding-top: rem-calc(12);
    padding-bottom: rem-calc(12);
    margin: rem-calc(24) auto;

    .excel-logo {
      display: block;
      margin: 0 auto rem-calc(24) auto;

      img {
        max-height: rem-calc(35);
      }

      @include breakpoint(medium up) {
        display: inline;
        margin: 0 0 rem-calc(24) 0;
      }
    }

    ul {
      margin: rem-calc(6);
    }

    li {
      text-align: center;

      @include breakpoint(medium up) {
        text-align: left;
      }
    }

    a {
      font-size: rem-calc(16);
      font-weight: 600;
      color: $dark-grey;

      &:hover {
        color: $dark-blue;
      }

      @include breakpoint(medium up) {
        font-size: rem-calc(14);
      }
    }

    .certification-logos {
      margin-top: rem-calc(45);
      display: block;

      li {
        display: inline-block;
      }

      img {
        margin: rem-calc(8) rem-calc(12) rem-calc(8) rem-calc(0);
        height: rem-calc(75);
        width: auto;

        @include breakpoint(large up) {
          margin: auto rem-calc(11);
          height: rem-calc(63);
        }
      }
    }
  }

  .bottom-footer {
    background: #35353B;
    ul {
      min-height: rem-calc(22);
      margin: rem-calc(12);
    }

    li {
      list-style-type: none;
      display: block;
      font-size: rem-calc(14);
      color: $white;
      font-weight: 700;
      letter-spacing: .75;

      &:first-child {
        margin-left: rem-calc(0);
      }

      @include breakpoint(medium up) {
        display: inline;

        &.bottom-footer-copyright {
          float: left;
        }

        &.bottom-footer-contact {
          float: right !important;
          margin-left: rem-calc(18);
        }
      }
    }
  }
}

// Call to Action
.contactus-cta {
  background: url('../img/contact-us-cta.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
  height: auto;
  width: 100%;

  @include breakpoint(medium up) {
    max-height: rem-calc(500);
  }

  .contactus-cta-details {
    text-align: center;

    @include breakpoint(medium up) {
      text-align: left;
    }
  }
}
