.languages {
  background: url('../img/language-background.jpg') no-repeat;
  background-position: center bottom;
  background-size: cover;
  width: 100%;
}

.herounit {
  background: url('../img/hero-small.png') no-repeat;
  background-position: center bottom;
  background-size: cover;
  min-height: rem-calc(600);
  width: 100%;

  @include breakpoint(medium) {
    background: url('../img/hero-medium.jpg') no-repeat;
    background-size: cover;
    background-position: center bottom;
    min-height: rem-calc(550);
    width: 100%;
  }

  @include breakpoint(large up) {
    background: url('../img/hero-large-op.jpg') no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: rem-calc(575);
    width: 100%;
  }

  h1 {
    padding-top: rem-calc(116);
    font-size: rem-calc(24);
    text-align: center;
    color: $black;

    @include breakpoint(medium) {
      padding-top: rem-calc(160);
      font-size: rem-calc(26);
      text-align: left;
    }

    @include breakpoint(large up) {
      padding-top: rem-calc(175);
      font-size: rem-calc(36);
      text-align: left;
    }
  }

  .button + .button {
    margin-left: rem-calc(12);
  }

  .hero-buttons {
    text-align: center;

    @include breakpoint(medium up) {
      text-align: left;
    }

    a {
      font-size: rem-calc(13);

      @include breakpoint(medium up) {
        font-size: rem-calc(16);
      }
    }
  }

  p {
    text-align: center;
    margin: rem-calc(18 0 45 0);
    font-size: rem-calc(17);
    display: none;

    @include breakpoint(medium) {
      font-size: rem-calc(20);
      text-align: left;
      display: block;
    }

    @include breakpoint(large up) {
      text-align: left;
    }
  }

  .herounit-text {
    display: block;
    margin: auto 0;
  }
}

.herounit.translating {
  background: url('../img/excel-translating-sacramento-heropage.png') no-repeat;
  background-position: center top;
  background-size: cover;
  min-height: rem-calc(475);
  width: 100%;

  p {
    display: inline-block;
    font-size: rem-calc(24);
    text-align: center;
    color: $white;
    padding-top: 0;
    margin-top: 0;
    0px 2px 15px rgba(0, 0, 0, 1);
  }

  @include breakpoint(medium) {
    background: url('../img/excel-translating-sacramento-heropage.png') no-repeat;
    background-size: cover;
    background-position: center bottom;
    min-height: rem-calc(550);
    width: 100%;
    p {font-size: rem-calc(28);}
  }

  @include breakpoint(large up) {
    background: url('../img/excel-translating-sacramento-heropage.png') no-repeat;
    background-size: cover;
    background-position: center bottom;
    min-height: rem-calc(575);
    width: 100%;
  }

  h1 {
    0px 2px 15px rgba(0, 0, 0, 1);
    padding-top: rem-calc(120);
    font-size: rem-calc(26);
    text-align: center;
    color: $white;

    @include breakpoint(medium) {
      padding-top: rem-calc(200);
      font-size: rem-calc(32);
    }

    @include breakpoint(large up) {
      padding-top: rem-calc(186);
      font-size: rem-calc(36);
    }
  }

  .hero-buttons {
    text-align: center;
  }

  .herounit-text {
    display: block;
    margin: auto 0;
    text-align: center;
  }
}
