<section class="contactus-cta" id="contact-excel-information">
  <div class="row align-center" data-aos="fade" data-aos-delay="500" data-aos-duration="1000" data-aos-once="true">
    <div class="small-11 columns">
      <h1>Let's work together</h1>
      <p class="sub-header text-center">We look forward to hearing about your project.</p>
    </div>
  </div>

  <div class="row align-center contactus-cta-details" data-aos="fade" data-aos-delay="700" data-aos-duration="1000" data-aos-once="true">
    <div class="small-12 medium-3 columns">
      <div class="icon-left-small">
        <h3><img src="/assets/img/contact-call.svg" alt="">Give Us a Call</h3>
        <p>1 (800) 915-0638 ext. 101</p>
      </div>
    </div>
    <div class="small-12 medium-3 columns">
      <div class="icon-left-small">
        <h3><img  src="/assets/img/contact-email.svg" alt="">Send Us an E-Mail</h3>
        <p>info@excelinterpreting.com</p>
      </div>
    </div>
  </div>
</section>
