<section class="lightblue-background">
  <div class="row">
    <div class="small-12 columns">
      <h1>Creating success for over 200 clients big and small</h1>
      <div class="row">
        <div class="small-12 medium-12 medium-centered columns">
          <ul class="client-logos">
            <li><img src="/assets/img/anthem-logo.png" alt="Anthem Blue Cross Logo"></li>
            <li><img src="/assets/img/department-of-education-logo.png" alt="Anthem Blue Cross Logo"></li>
            <li><img src="/assets/img/dreyer-babich-logo.png" alt="Anthem Blue Cross Logo"></li>
            <li><img src="/assets/img/dental-board-of-california-logo.png" alt="Anthem Blue Cross Logo"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <div class="card testimonial">
        <p>"I practice law in various counties throughout California. I have utilized Excel’s language interpreter in court and have found its services to be professional and excellent. All of the court staff and clients were impressed with the skill, knowledge and services."</p>
        <div class="row">
          <div class="small-12 columns">
            <div class="testimonial-info">
              <img src="/assets/img/curtis-sok.png" alt="Curtis Sok">
              <div class="testimonial-name"><span>Curtis Sok</span> Attorney at Law, Fresno California</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="small-12 medium-6 columns">
      <div class="card testimonial">
        <p>"I practice law in various counties throughout California. I have utilized Excel’s language interpreter in court and have found its services to be professional and excellent. All of the court staff and clients were impressed with the skill, knowledge and services."</p>
        <div class="row">
          <div class="small-12 columns">
            <div class="testimonial-info">
              <img src="/assets/img/curtis-sok.png" alt="Curtis Sok">
              <div class="testimonial-name"><span>Curtis Sok</span> Attorney at Law, Fresno California</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
