<footer>
  <div class="main-footer">
    <div class="row align-center">
      <div class="small-11 medium-6 border-right columns">
        <div class="row">
          <div class="small-12 columns">
            <div class="excel-logo">
              <a href="{{root}}/index.html"><img src="/assets/img/excel-logo.png" alt="Excel Interpreting Logo"></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 medium-4 columns footer-links">
            <ul>
              <li><a href="{{root}}/index.html">Home</a></li>
              <li><a href="{{root}}/about.html">About Us</a></li>
              <li><a href="{{root}}/interpreting.html">In-Person Interpreting</a></li>
            </ul>
          </div>
          <div class="small-12 medium-4 columns footer-links">
            <ul>
              <li><a href="{{root}}/translation.html">Document Translation</a></li>
              <li><a href="{{root}}/telephonic.html">Telephone Interpreting</a></li>
              <li><a href="{{root}}/linguists.html">For Linguists</a></li>
            </ul>
          </div>
          <div class="small-12 medium-4 columns footer-links">
            <ul>
              <li><a href="{{root}}/quote.html">Request Services</a></li>
              <li><a href="{{root}}/assets/docs/Excel-LanguageList-2017.pdf" target="_blank">Language List</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="small-11 medium-6 columns">
        <ul class="certification-logos">
          <li><img src="/assets/img/ata-certification.png" alt="Excel's American Translators Association Logo"></li>
          <li><img src="/assets/img/cmas-logo.png" alt="CMAS Logo"></li>
          <li><img src="/assets/img/small-business-logo.png" alt="Excel's California Small Business Logo"></li>
          <li><img src="/assets/img/chia-logo.png" alt="Excel's California Healthcare Interpreters Association Logo"></li>
          <li><img src="/assets/img/excel-wrmsdc-minorityowned-logo.png" alt="Excel's  Minority Business Enterprise WRMSDC Logo"></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="bottom-footer">
    <div class="row">
      <div class="small-12 columns">
        <ul>
          <li class="bottom-footer-copyright">©2008-2017 Excel Interpreting, LLC</li>
          <li class="bottom-footer-contact">1 (800) 915-0638</li>
          <li class="bottom-footer-contact">info@excelinterpreting.com</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
