<footer>
  <div class="main-footer">
    <div class="row">
      <div class="small-12 medium-6 border-right columns">
        <div class="row columns">
          <div class="excel-logo">
            <a href="#"><img src="/assets/img/excel-logo-new.png" alt="Excel Interpreting Logo"></a>
          </div>
        </div>
        <div class="row">
          <div class="small-12 medium-4 columns">
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">About Us</a></li>
              <li><a href="">In-Person Interpreting</a></li>
            </ul>
          </div>
          <div class="small-12 medium-4 columns">
            <ul>
              <li><a href="">Document Translation</a></li>
              <li><a href="">Telephone Interpreting</a></li>
              <li><a href="">For Linguists</a></li>
            </ul>
          </div>
          <div class="small-12 medium-4 columns">
            <ul>
              <!-- <li><a href="">Request Services</a></li> -->
              <li><a href="">Language List</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="small-12 medium-6 columns">
        <ul class="certification-logos">
          <li><img src="/assets/img/ata-certification.png" alt="American Translators Association Logo"></li>
          <li><img src="/assets/img/cmas-logo.png" alt="DGS Logo"></li>
          <li><img src="/assets/img/small-business-logo.png" alt="California Small Business Logo"></li>
          <li><img src="/assets/img/chia-logo.png" alt="California Healthcare Interpreters Association Logo"></li>
          <li><img src="/assets/img/mwbe-logo.png" alt="Minority Women Business Enterprise Logo"></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="bottom-footer">
    <div class="row">
      <div class="small-12 columns">
        <ul>
          <li class="bottom-footer-copyright">©2008-2017 Excel Interpreting, LLC</li>
          <li class="bottom-footer-contact">1 (800) 915-0638</li>
          <li class="bottom-footer-contact">info@excelinterpreting.com</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
