<div class="logos-bar">
  <div class="row">
    <div class="small-12 columns">
      <ul>
        <li><img class="small-screen" src="/assets/img/alameda-logo.png" alt="Alameda County Social Services logo"></li>
        <li><img src="/assets/img/kaiser-logo.png" alt="Kaiser Permanente logo"></li>
        <li><img src="/assets/img/dmv-logo.png" alt="California Department of Motor Vehicles logo"></li>
        <li><img src="/assets/img/chevron-logo.png" alt="Chevron logo"></li>
        <li><img class="small-screen" src="/assets/img/scusd-logo.png" alt="Sacramento Unified School District logo"></li>
        <li><img class="small-screen" src="/assets/img/downeybrand-logo.png" alt="Chevron"></li>
      </ul>
    </div>
  </div>
</div>
