<div class="off-canvas-menu">
  <ul>
    <li><a href="{{root}}/index.html">Home</a></li>
    <li><a href="{{root}}/about.html">About Us</a></li>
    <li><a href="{{root}}/interpreting.html">In-Person Interpreting</a></li>
    <li><a href="{{root}}/translation.html">Document Translation</a></li>
    <li><a href="{{root}}/telephonic.html">Telephone Interpreting</a></li>
    <li><a href="{{root}}/linguists.html">For Linguists</a></li>
    <li><a href="{{root}}/quote.html">Request a Quote</a></li>
  </ul>
  <hr>
  <ul class="off-canvas-menu-contact">
    <li>Have questions?</li>
    <li><img src="/assets/img/call-mobile-icon.svg" alt="Call Excel Interpreting icon">1 (800) 915-0638</li>
    <li><img src="/assets/img/email-mobile-icon.svg" alt="Email Excel Interpreting icon">info@excelinterpreting.com</li>
  </ul>

  <button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
