<!-- Tablet & Desktop Navigation -->
<div class="navigation show-for-medium">
  <div class="excel-logo"><a href="#"><img src="/assets/img/excel-logo.png" alt="Excel Interpreting Logo"></a></div>
    <div class="navigation-links">
      <ul class="dropdown menu" data-dropdown-menu>
        <li><a href="#">About Us</a></li>
        <li>
          <a href="#">Our Services</a>
          <ul class="navigation-service-types">
            <li><a href="#">In-Person Interpreting</a></li>
            <li><a href="#">Document Translation</a></li>
            <li><a href="#">Telephone Interpreting</a></li>
          </ul>
        </li>
        <li><a href="#">For Linguists</a></li>
        <li><a href="#" class="navigation-contact-call">Call 1 (800) 915-0638</a></li>
        <li><a href="about.html" class="navigation-contact-quote button">Contact Us</a></li>
      </ul>
  </div>
</div>

<!-- Mobile Navigation -->
<div class="row help-callout hide-for-medium">
  <div class="small-12 columns">
    <p>Questions? 1(800) 915-0638 or info@excelinterpreting.com</p>
  </div>
</div>

<div class="navigation-mobile hide-for-medium">
  <button type="button" class="off-canvas-button" data-toggle="offCanvasLeft"></button>
  <div class="excel-logo"><a href="#"></a></div>
</div>
