<!-- Tablet & Desktop Navigation -->
<div class="navigation show-for-medium">
  <div class="excel-logo"><a href="{{root}}/index.html"><img src="/assets/img/excel-logo.png" alt="Excel Interpreting Logo"></a></div>
    <div class="navigation-links">
      <ul class="dropdown menu" data-dropdown-menu>
        <li><a href="{{root}}/index.html">Home</a></li>
        <li><a href="{{root}}/about.html">About Us</a></li>
        <li>
          <a href="#">Our Services</a>
          <ul class="navigation-service-types">
            <li><a href="{{root}}/interpreting.html">In-Person Interpreting</a></li>
            <li><a href="{{root}}/translation.html">Document Translation</a></li>
            <li><a href="{{root}}/telephonic.html">Telephone Interpreting</a></li>
          </ul>
        </li>
        <li><a href="{{root}}/linguists.html">For Linguists</a></li>
        <li class="navigation-contact-call">Call 1 (800) 915-0638</li>
        <li><a href="{{root}}/quote.html" class="navigation-contact-quote button">Request a Quote</a></li>
      </ul>
  </div>
</div>

<!-- Mobile Navigation -->
<div class="row help-callout hide-for-medium">
  <div class="small-12 columns">
    <p>Questions? 1(800) 915-0638 or info@excelinterpreting.com</p>
  </div>
</div>

<div class="navigation-mobile hide-for-medium">
  <button type="button" class="off-canvas-button" data-toggle="offCanvasLeft"></button>
  <a href="{{root}}/index.html"><div class="excel-logo"></div></a>
</div>
