<section>
  <div class="team-photos">
    <div class="row text-center">
      <div class="small-11 small-centered columns">
        <h1>Our team</h1>
      </div>
    </div>
    <div class="row">
      <div class="small-11 small-centered medium-9 medium-centered columns">
        <div class="row small-up-2 medium-up-3 large-up-4 text-center">
          <div class="column column-block">
            <img src="/assets/img/team-photos/koy.png" alt="">
            <h3>Koy Wong Jay</h3>
            <p>Founder/CEO</p>
          </div>
          <div class="column column-block">
            <img src="/assets/img/team-photos/angela.jpg" alt="">
            <h3>Angela Zabel</h3>
            <p>Vendor Relations</p>
          </div>
          <div class="column column-block">
            <img src="/assets/img/team-photos/laurie.jpg" alt="">
            <h3>Laurie Zimmer</h3>
            <p>Translation Manager</p>
          </div>
          <div class="column column-block">
            <img src="/assets/img/team-photos/sequwia.jpg" alt="">
            <h3>Sequwia Warner</h3>
            <p>Translation Coordinator</p>
          </div>
          <div class="column column-block">
            <img src="/assets/img/team-photos/adelina.jpg" alt="">
            <h3>Adelina Past</h3>
            <p>Scheduling Manager</p>
          </div>
          <div class="column column-block">
            <img src="/assets/img/team-photos/namneet.jpg" alt="">
            <h3>Namneet Gill</h3>
            <p>Scheduling Coordinator</p>
          </div>
          <div class="column column-block">
            <img src="/assets/img/team-photos/erin.jpg" alt="">
            <h3>Erin Seeley</h3>
            <p>Scheduling Coordinator</p>
          </div>
          <div class="column column-block">
            <img src="/assets/img/team-photos/gloria.jpg" alt="">
            <h3>Gloria Grijalva</h3>
            <p>Compliance Specialist</p>
          </div>
          <div class="column column-block">
            <img src="/assets/img/team-photos/ken.jpg" alt="">
            <h3>Ken Saephan</h3>
            <p>Billing Manager</p>
          </div>
          <div class="column column-block">
            <img src="/assets/img/team-photos/mj.jpg" alt="">
            <h3>MJ Iresare</h3>
            <p>Billing Specialist</p>
          </div>
          <div class="column column-block">
            <img src="/assets/img/team-photos/shirley.jpg" alt="">
            <h3>Shirley Serrano</h3>
            <p>Billing Specialist</p>
          </div>
          <div class="column column-block">
            <img src="/assets/img/team-photos/mandi.jpg" alt="">
            <h3>Mandi Saeteun</h3>
            <p>Designer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
