<section>
  <div class="team-photos">
    <div class="row align-center text-center">
      <div class="small-11 columns">
        <h1>Our team</h1>
      </div>
    </div>
    <div class="row align-center">
      <div class="small-11 medium-9 columns">
        <div class="row small-up-2 medium-up-3 large-up-4 text-center">
          <div class="column column-block">
            <img src="/assets/img/team-photos/koy.jpg" alt="Koy Wong Jay Headshot">
            <h3>Koy Wong Jay</h3>
            <p>Founder/CEO</p>
          </div>
          <div class="column column-block">
            <img src="/assets/img/team-photos/angela.jpg" alt="Angela Zabel Headshot">
            <h3>Angela Zabel</h3>
            <p>Vendor Relations</p>
          </div>
          <div class="column column-block">
            <img src="/assets/img/team-photos/laurie.jpg" alt="Laurie Zimmer Headshot">
            <h3>Laurie Zimmer</h3>
            <p>Translation Manager</p>
          </div>
          <div class="column column-block">
            <img src="/assets/img/team-photos/sequwia.jpg" alt="Sequwia Warner Headshot">
            <h3>Sequwia Warner</h3>
            <p>Translation Coordinator</p>
          </div>
          <div class="column column-block">
            <img src="/assets/img/team-photos/adelina.jpg" alt="Adelina Past Headshot">
            <h3>Adelina Past</h3>
            <p>Scheduling Manager</p>
          </div>
          <div class="column column-block">
            <img src="/assets/img/team-photos/namneet.jpg" alt="Namneet Gill Headshot">
            <h3>Namneet Gill</h3>
            <p>Scheduling Coordinator</p>
          </div>
          <div class="column column-block">
            <img src="/assets/img/team-photos/erin.jpg" alt="Erin Seeley Headshot">
            <h3>Erin Seeley</h3>
            <p>Scheduling Coordinator</p>
          </div>
          <div class="column column-block">
            <img src="/assets/img/team-photos/gloria.jpg" alt="Gloria Grijalva Headshot">
            <h3>Gloria Grijalva</h3>
            <p>Compliance Specialist</p>
          </div>
          <div class="column column-block">
            <img src="/assets/img/team-photos/ken.jpg" alt="Ken Saephan Headshot">
            <h3>Ken Saephan</h3>
            <p>Billing Manager</p>
          </div>
          <div class="column column-block">
            <img src="/assets/img/team-photos/mj.jpg" alt="MJ Iresare Headshot">
            <h3>MJ Iresare</h3>
            <p>Billing Specialist</p>
          </div>
          <div class="column column-block">
            <img src="/assets/img/team-photos/shirley.jpg" alt="Shirley Serrano Headshot">
            <h3>Shirley Serrano</h3>
            <p>Billing Specialist</p>
          </div>
          <div class="column column-block">
            <img src="/assets/img/team-photos/mandi.jpg" alt="Mandi Saeteun Headshot">
            <h3>Mandi Saeteun</h3>
            <p>Designer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
